[*.cs]

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none

# SYSLIB0023: Type or member is obsolete
dotnet_diagnostic.SYSLIB0023.severity = none
